<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Server</title>

    <link rel="stylesheet" href="/static/style.css">

    <script src="//unpkg.com/three"></script>
    <script src="//unpkg.com/globe.gl"></script>
</head>

<body>

    <div id="bg"></div>
    <div id="overlay"></div>


    <div id="settings-btn">⚙</div>

    <div id="settings-overlay"></div>

    <div id="settings-panel" class="glass">

        <div id="settings-header">
            ⚙️ Einstellungen
        </div>

        <div id="settings-body">

            <!-- Linke Leiste -->
            <div id="settings-sidebar">

                <div id="settings-sidebar-language" class="category active" onclick="showTab('language')">
                    Loading...
                </div>

                <div id="settings-sidebar-theme" class="category" onclick="showTab('theme')">
                    Loading...
                </div>
            </div>

            <!-- Rechter Bereich -->
            <div id="settings-content">

                <div class="tab" id="language-tab">
                    <h2 id="settings-body-language">
                        Loading...
                    </h2>

                    <button onclick="loadLanguage('de')">
                        Deutsch
                    </button>

                    <button onclick="loadLanguage('en')">
                        English
                    </button>
                </div>

                <div class="tab" id="theme-tab" style="display:none;">
                    <h2 id="settings-body-theme">
                        Loading...
                    </h2>

                    <button>Dunkel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 🧠 Main Content -->
    <div id="content">
        <div id="home" class="section">
            <div class="glass">
                <div class="title" id="title">Loading...</div>
                <div class="tag">FastAPI</div>
                <div class="tag">Python</div> 
                <div class="tag">Webserver</div>
                <div class="tag">HTML</div>
                <div class="tag">Gaming</div>
            </div>
        </div>
        <div id="about" class="section">
            <div class="glass">
                <h1>About Me</h1>

                <p id="aboutme-text">
                    Loading...
                </p>

                <div id="aboutme-link" onclick="window.location='/aboutme'">
                    About Me öffnen
                </div>
            </div>
        </div>
        <div id="projects" class="section">
            <div class="glass">
                <h1>Projects</h1>
            </div>
        </div> 

    </div>

    <!-- JS -->
    <script src="/static/js/settings.js"></script>
    <script src="/static/js/text.js"></script>

</body>

</html>